    <!doctype html>  
    <html lang="en">  
    <head>  
      <meta charset="utf8">  
      <title><%= @title + ' | Anotador' %></title> 
      <link href="/reset.css" rel="stylesheet">  
      <link href="/style.css" rel="stylesheet">  
    </head>  
    <body>  
      <header>  
        <hgroup>  
          <h1><a href="/">Anotador</a></h1>  
          <h2>porque estas demasiado ocupado para recordar</h2>  
        </hgroup>  
      </header>  
      <div id="main">  
        <%= yield %>  
      </div>  
      <footer>  
        <p><small>Una aplicacion de <a href="http://www.prologicsystems.com.ar">ProLogic Systems</a>.</small></p>  
      </footer>  
    </body>  
    </html>  